*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F5F7;
    font-family:  'Inter', Arial, Helvetica, sans-serif;
}
ul{
    list-style: none;
    text-decoration: none;
}
.navbar{
    width: 1240px;
    height: 72px;
    margin: auto;
    background-color: #F5F5F7;
    text-align: center;
}
.navigation{
    display: inline-block;
    margin-right: 170px;
}
.item, .item a{
    padding-right: 10px;
    margin: 11px 0 11px 0;
    font-weight: 500;
    font-size: 24px;
    display: inline-block;
    list-style: none;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.logo{
    display: inline-block;
    margin-right: 83px;
    padding: 10px 15px;
    background-color: #F0EDFF;
  
}
.logo a{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #5B47D1;
    list-style: none;
}
.hero{
    text-align: center;
    height: 400px;
    margin: auto;
    background-image: url(./assets/hero.jpg);
    background-size: cover;
}
.hero-title{
    padding-top: 131px;
    color: white;
    font-size: 48px;
    text-align: center;
}
.hero-description{
    padding: 10px;
    color: white;
    font-size: 24px;
    text-align: center;
}
main h2{
    margin-top: 45px;
    color: black;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}
.cards{
    padding-top: 49px;
    background-color: #F5F5F7;
    width: 1240px;
    margin: auto;
    text-align: center;
}
article{
    display: inline-block;
    margin: 14px;
}
.card{
    width: 360px;
    height: 472px;
    display: inline-block;
    background-color: #FFFFFF;

}
.image{
    background-color: #5B47D1;
    width: 360px;
    height: 240px;
    background-size: cover;
}
.content{
    padding: 15px 19px 19px 17px;
    text-align: left;
    padding-bottom: 36px;
}
small{
    padding: 0 28px 19px 0;
    font-size: 14px;
    font-weight: 500;
}
h3{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: semibold;
    padding-bottom: 15px;
}
.cards .card:nth-child(1) .image{
    background-color: #C7B8FF;
}
.cards .card:nth-child(2) .image{
    background-color: #FFB8D8;
}
.cards .card:nth-child(3) .image{
    background-color: #B8E0FF;
}
.cards .card:nth-child(4) .image{
    background-color: #D4FFB8;
}
.cards .card:nth-child(5) .image{
    background-color: #FFE4B8;
}
.cards .card:nth-child(6) .image{
    background-color: #FFD4B8;
}

footer{
    background-color: #252424;
    height: 403px;
    margin-top: 151px;
    padding-top: 52px;
}
.footer-nav{
    width: 1240px;
    margin: 0 auto;
    height: 338px;
    color: #A1A1A6;
    text-align: left;
    padding-left: 80px;
   
}
.footer-nav ul li a{
    list-style: none;
    text-decoration: none;
    color: #A1A1A6;
   
}
.footer-nav ul li a:hover{
    color: #F5F5F7;
}
.footer-nav ul li{
    padding-bottom: 11px;
}

.footer-nav h4{
    color: #F5F5F7;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 11px;
}
.techblog{
    display: inline-block;
    width: 296px;
    font-size: 15px;
}
.techblog h4{
    color: #F5F5F7;
    font-size: 24px;
    font-weight: 700;
}
.techblog p{
    padding-top: 11px;
}
.contact{
    display: block;
    width: 296px;
    font-size: 15px;
    padding-top: 34px;
}
.contact h4{
    color: #F5F5F7;
    font-size: 24px;
    font-weight: 700;
}
.category{
    display: inline-block;
    width: 296px;
    font-size: 15px;
    padding-left: 82px;
}

.category h4{
    color: #F5F5F7;
    font-size: 24px;
    font-weight: 700;
}
.copy{
    margin-top: 11px;
    background-color: #020202;
    color: #86868B;
    height: 72px;
    text-align: center;
    padding: 20px 0 19px 0;
}